*{
margin: 0%;
font-family: 'Work Sans';
}
/*-----------------------------Banner-part-------------------- */
header{
background-image: url('../css/css-img/banner/banner1.png');
background-position: center;
background-repeat: no-repeat;
margin-bottom: 80px;
}
.banner-title-img{
margin: -85px 140px;
padding: 320px 52px;
text-align: right;
}
.header-title{
margin-bottom: 45px;
font-size: 65px;
font-weight: 700;
line-height: 76px;
text-align: right;
}
.header-description{
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: right;
color: #444343; 
}
.primary-btn{
margin: 20px 0px 0px 0px;
padding: 15px 30px 15px 30px;
background-color: rgb(51, 191, 238);
color: white;
font-size: 16px;
font-weight: 700;
border: none;
border-radius: 5px;
}
/*-----------------------------Banner-part-complete------------------- */
/* ------------------------------main-part---------------------------- */
/*-(left-image-and-right-title-)----------------------------- */
.main-img-title{
display: flex;
align-items: center;
justify-content: center;
gap: 200px;
}
.left-img-part{
background-image:url('../css/css-img/Ellipse\ 2.png');
background-repeat: no-repeat;
background-position: center bottom;
margin: 10px 0px  0px  0px;
}
.left-img{
margin: 5px 0px 0px 0px;
padding: 5px 0px 0px 0px;;
}
.right-title{
    margin-top: 140px;
}
.the-title{
margin-bottom: 24px ;
font-weight: 700;
font-size: 40px;
line-height: 47px;
}
.subtitle{
 margin-bottom: 12px;   
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 color: #444343;
}
.fa-check{
margin-top: 13px;
color: lightgreen;  
font-size: 14px;
letter-spacing: 0em;
text-align: left;
}
/*-(left-image-and-right-title-)--End--------------------------- */
/*----------------main-My-plan-part-is-start--------------------*/
/* my-plan-title-part */
.my-plan{
margin-top: 200px;
margin-bottom: 100px;
}
.my-plan-title{ 
margin-bottom: 50px;
padding: 10px 10px 10px 10px;    
text-align: center;
font-weight: 700;
font-size: 38px;
line-height: 50px;
color: #151414;
}
/* my-plan-title+icon-part */
.my-plan-icon{
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
}
.plan-img-tag{
margin: 10px 50px;
}
.icon-title{
margin: 0px  10px  0px  10px;  
font-weight: 700;
font-size: 30px;
color: #151414;
}
.icon-p-tag{
margin: 2px  10px  2px  10px;
font-weight: 500;
font-size: 25px;
color: #737272;   
}
/*----------------main-My-plan-part-is-End--------------------------------*/
/*----------------main-Title-and-gradient-part-start----------------------*/
.section-gradient{
margin:150px 310px ;
text-align: left;
}
.gradient-title{
margin: 10px 10px 10px 10px;
padding: 60px 10px 80px 26px;  
color: #ffff;    
font-weight: 700;
font-size: 25px;
line-height: 47px;  
background: linear-gradient(90deg,  rgb(51, 191, 238)0%, rgba(241, 91, 34, 0) 100%);
opacity: 1.1;
border-radius: 8px
}
.gradient-btn{
margin: 20px 0px 0px 0px;
padding: 10px 20px 10px 20px;
background-color:white;
color: rgb(51, 191, 238);
font-size: 16px;
font-weight: 700;
border: none;
border-radius: 5px;
}
/*----------------main-Title-and-gradient-part-start-End----------------------*/
/*--------------------------------------footer-section-start------------------*/
footer{
padding: 150px 10px 200px 10px;    
background-color: black;
}
.footer-section{
display: flex;
align-items: center;
justify-content: space-evenly;
color: #ffff;
}
.future-title{
margin-bottom: 20px;    
font-weight: 700;
font-size: 30px;
line-height: 20px;
}
.future-description-tag{
margin-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.future-p-tag{
margin-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.future-social-icon{
    margin-left: 10px;
}
/* Subscribe-title */

.Subscribe-part{
margin: 0px;
padding:10px 10px 10px 10px;
 }
.Subscribe-title{
margin:-110px 0px 50px 0px ;
font-weight: 600;
font-size: 18px;
line-height: 10px;
}
.input-email{
margin-bottom: 10px;
padding: 15px 110px 15px 40px;
background-color: black;
color: #ffff;
border: 1px solid #FFFFFF;
border-radius: 8px;
}
/*----------------<!----------------------footer-section-End-------------------*/
